<div class="flex-1 flex flex-col border-md shadow-md rounded-md p-5 text-lg pt-10">
    <h1 class="font-bold">Thông tin cá nhân</h1>

    <form>
        <div class="flex flex-col gap-5 mt-5">
            <div class="flex gap-10">
                <p>Ảnh đại diện:</p>
                <img src="" alt="Avatar" class="rounded-full w-16 object-cover" />
            </div>

            <div id="choose-img" class="hidden items-center">
                <input type="file" id="avatar" name="avatar" class="border border-gray-300 rounded-md p-2"
                    accept="image/*" />

                <img id="preview" src="" alt="Preview" class="rounded-md w-14 object-cover m-2" />
            </div>

            <div class="flex flex-col gap-2 lg:w-1/2">
                <label for="name">Họ và tên</label>
                <input type="text" id="name" name="name" class="border border-gray-300 rounded-md p-2 opacity-60"
                    value="<%= account.name %>" readonly required />
            </div>

            <div class="flex flex-col gap-2 lg:w-1/2">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" class="border border-gray-300 rounded-md p-2 opacity-60"
                    value="<%= account.email %>" readonly />
            </div>

            <div class="flex flex-col gap-2 lg:w-1/2">
                <label for="phone">Số điện thoại</label>
                <input type="text" id="phone" name="phone" class="border border-gray-300 rounded-md p-2 opacity-60"
                    value="<%= account.phone %>" readonly />
            </div>

            <div class="flex flex-col gap-2 lg:w-1/2">
                <label for="birthday">Ngày sinh</label>
                <input type="date" id="birthday" name="birthday"
                    class="border border-gray-300 rounded-md p-2 opacity-60" value="<%= account.birthdate %>" readonly />
            </div>

            <div class="flex flex-col gap-2 lg:w-1/2">
                <label for="address">Địa chỉ</label>
                <input type="text" id="address" name="address" class="border border-gray-300 rounded-md p-2 opacity-60"
                    value="<%= account.address %>" readonly />
            </div>

            <button id="update" type="button"
                class="text-primary border-primary border-2 hover:scale-105 0 rounded-md py-2 px-5 w-fit">
                Cập nhật
            </button>
            <div class="flex gap-5">
                <button id="apply" type="button"
                    class="text-primary border-primary border-2 hover:scale-105 rounded-md py-2 px-5 hidden w-fit">
                    Áp dụng
                </button>
            </div>
        </div>
    </form>

    <h1 class="font-bold mt-10 mb-5">Cập nhật mật khẩu</h1>
    <form>
        <div class="flex flex-col gap-2 lg:w-1/2 mb-2">
            <label for="old-password">Mật khẩu cũ</label>
            <input type="password" id="old-password" name="old-password" class="border border-gray-300 rounded-md p-2"
                required />
        </div>

        <div class="flex flex-col gap-2 lg:w-1/2 mb-2">
            <label for="new-password">Mật khẩu mới</label>
            <input type="password" id="new-password" name="new-password" class="border border-gray-300 rounded-md p-2"
                required />
        </div>

        <div class="flex flex-col gap-2 lg:w-1/2 mb-2">
            <label for="confirm-password">Xác nhận mật khẩu</label>
            <input type="password" id="confirm-password" name="confirm-password"
                class="border border-gray-300 rounded-md p-2" required />
        </div>

        <button type="submit"
            class="text-primary border-primary border-2 hover:scale-105 rounded-md py-2 px-5 w-fit mt-5">
            Cập nhật mật khẩu
        </button>

</div>