<!doctype html>
<html lang="en">
  <head>
    <%- include('./partials/head'); %>
    <title>TechKit - Sản Phẩm</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  </head>

  <body>
    <!-- Header -->
    <%- include('./partials/header'); %>

    <!-- Product Info -->
    <%- include('productInfo', { product, reviews: reviews }); %>

    <!-- Related-products -->
    <%- include('relevantProducts', { products: related_products, title: 'Sản phẩm liên quan' } ); %>

    <!-- Footer -->
    <%- include('./partials/footer'); %>
  </body>
</html>
