<!doctype html>
<html lang="en">
    <head>
        <%- include('./partials/head'); %>
        <title>TechKit - Product</title>
    </head>

    <body>
        <!-- Header -->
        <%- include('./partials/header'); %>

        <!-- Product Info -->
        <%- include('productInfo',{ product }); %>

        <!-- Popular-products -->
        <%- include('featuredProducts'); %>

        <!-- Footer -->
        <%- include('./partials/footer'); %>
    </body>
</html>
