<!doctype html>
<html lang="en">
    <head>
        <%- include('./partials/head'); %>
        <title>TechKit - Product</title>
    </head>

    <body>
        <!-- Header -->
        <%- include('./partials/header'); %>

        <!-- Product Info -->
        <%- include('productInfo', { product }); %>

        <!-- Related-products -->
        <%- include('relevantProducts', { products, title: 'Sản phẩm liên quan' } ); %>

        <!-- Footer -->
        <%- include('./partials/footer'); %>
    </body>
</html>
